/* :root {
    --bs-body-font-family: "Jua", sans-serif;
} */

h1 {
    font-family: 'Jua', sans-serif;
}

li {
    list-style: none;
}

h5 {
    font-family: 'Jua', sans-serif;
}

h6 {
    font-family: 'Jua', sans-serif;
}